<h1>Welcome to Patient Portal 1000</h1>

<h2>Physician Access<h3>
<h4>
<label for="doctor_email"> Physician Email:</label>
<input type="email" name="doctor_email" id="doctor_email" placeholder="Providence Email">
<label for="doctor_password"> Physician Email:</label>
<input type="password" name="doctor_password" id="doctor_password"placeholder="Secure Password">
<br>
<br>
<p>Not registered?<a href="/docto_rs/new"> Sign Up Here</a><p>
</h4>